﻿@inherits LayoutComponentBase
<!--
<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>
    -->
<NavMenu/>
<div class="main">
    <div class="top-row px-4">
      
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>

<MudThemeProvider />
<MudDialogProvider />
<MudSnackbarProvider />