﻿@inject NavigationManager nav


<MudAppBar Color="Color.Info">
    <MudIconButton
     OnClick="@toOpen"
     Color="Color.Inherit" Icon="@Icons.Material.Filled.Menu"/>
    <MudSpacer/>
    <MudIconButton Color="Color.Inherit" Icon="@Icons.Custom.Brands.GitHub"/>
</MudAppBar>
<MudDrawer Elevation="9" @bind-Open="@open" Color="Color.Info" Variant="@DrawerVariant.Persistent">
    <MudDrawerHeader>
        <MudText Color="Color.Dark" Typo="Typo.h6">DiviBank</MudText>
    </MudDrawerHeader>
    <MudNavMenu>
        <MudNavLink Match="NavLinkMatch.All" IconColor="Color.Dark"
                    Icon="@Icons.Material.Filled.Home"
                    OnClick="@(() => nav.NavigateTo("/"))">Home Page</MudNavLink>
        <MudNavLink Match="NavLinkMatch.All" IconColor="Color.Dark"
                    Icon="@Icons.Material.Filled.PersonAdd"
                    OnClick="@(() => nav.NavigateTo("/clients"))">Clients</MudNavLink>
        <MudNavLink Match="NavLinkMatch.All" IconColor="Color.Dark"
                    Icon="@Icons.Material.Filled.Savings"
                    OnClick="@(() => nav.NavigateTo("/loans"))">Loans</MudNavLink>
    </MudNavMenu>
</MudDrawer>


@code {
    bool open = false;

    private void toOpen()
    {
        open = !open;
    }
}