﻿@page "/clientdetails/{id}"
@inject NavigationManager nav
@inject IClient service

<MudContainer>
    <MudGrid>
        <MudItem xs="12">
            <MudCard Style="width:90%" Elevation="8">
                <MudCardHeader>
                    <MudText Color="Color.Dark" Typo="Typo.h6">Client Details</MudText>
                </MudCardHeader>
                <MudCardContent>
                    <MudTextField ReadOnly="true" @bind-Value="@client.name"></MudTextField>
                    <MudTextField ReadOnly="true" @bind-Value="@client.birthday"></MudTextField>
                </MudCardContent>
                <MudCardActions Class="d-flex align-center justify-center mud-width-full py-8">
                    <MudButton Color="Color.Info" Variant="Variant.Outlined"
                     OnClick="@(()=> nav.NavigateTo("/clients"))">Click to Exit</MudButton>
                </MudCardActions>
            </MudCard>
        </MudItem>
    </MudGrid>
</MudContainer>

@code {
    [Parameter]
    public string Id { get; set; }
    Client client = new Client();

    protected async override Task OnInitializedAsync()
    {
        client = await service.GetClientById(Id);
    }
}
