﻿
@page "/clientupdate/{id}"
@inject IClient service
@inject NavigationManager nav

<MudContainer>
    <MudGrid>
        <MudItem xs="12">
            <MudCard Elevation="8">
                <MudCardContent>
                    <MudTextField FullWidth="true" Style="margin-bottom:15px" Variant="Variant.Text"
                     Label="Name" @bind-Value="@client.name"></MudTextField>
                    <MatDatePicker Label="Birthday" FullWidth="true" @bind-Value="client.birthday"></MatDatePicker>
                </MudCardContent>
                <MudCardActions Class="d-flex align-center justify-center mud-width-full py-8">
                    <MudButton Variant="Variant.Filled" Color="Color.Info" OnClick="update"
                               StartIcon="@Icons.Material.Filled.Save">Save</MudButton>
                    <MudButton Style="margin-left:10px" Variant="Variant.Filled" Color="Color.Dark"
                               OnClick="@(()=> nav.NavigateTo("/clients"))"
                               StartIcon="@Icons.Material.Filled.ExitToApp">Cancel</MudButton>
                </MudCardActions>
            </MudCard>
        </MudItem>
    </MudGrid>
</MudContainer>

@code {
    [Parameter]
    public string Id { get; set; }
    private Client client = new Client();

    protected async override Task OnInitializedAsync()
    {
        client = await service.GetClientById(Id);
    }

    private async Task update()
    {
        await service.update(client);
        nav.NavigateTo("/clients");
    }

}
