﻿@page "/clientform"
@inject NavigationManager nav
@inject IClient service

<MudContainer>
    <MudGrid>
        <MudItem xs="12">
            <MudCard Elevation="8">
                <MudCardContent>
                    <MudTextField FullWidth="true" Style="margin-bottom:15px" Variant="Variant.Text"
                                  Label="Name" @bind-Value="@client.name"></MudTextField>
                    <MatDatePicker Label="Birthday" FullWidth="true" @bind-Value="client.birthday"></MatDatePicker>
                </MudCardContent>
                <MudCardActions Class="d-flex align-center justify-center mud-width-full py-8">
                    <MudButton Variant="Variant.Filled" Color="Color.Info" OnClick="save"
                               StartIcon="@Icons.Material.Filled.Save">Save</MudButton>
                    <MudButton Style="margin-left:10px" Variant="Variant.Filled" Color="Color.Dark"
                               OnClick="@(()=> nav.NavigateTo("/clients"))"
                               StartIcon="@Icons.Material.Filled.ExitToApp">Cancel</MudButton>
                </MudCardActions>
            </MudCard>
        </MudItem>
    </MudGrid>
</MudContainer>

@code {
    Client client = new Client();
    private async Task save()
    {
        await service.insert(client);
        nav.NavigateTo("/clients");
    }
}
