﻿@page "/clients"
@inject IClient service
@inject NavigationManager nav
@inject IJSRuntime script

<MudGrid>
    <MudItem xs="12" Class="d-flex align-center justify-center mud-width-full py-8">
        <MudButton StartIcon="@Icons.Custom.Brands.MicrosoftAzureDevOps"
                   Size="Size.Large" Variant="Variant.Filled" Color="Color.Info"
                   OnClick="@(()=> nav.NavigateTo("/clientform"))">Form</MudButton>
    </MudItem>
</MudGrid>
<MudTable Filter="new Func<Client, bool>(filterBy)"
     Elevation="8" Items="@clients" Hover="true">
    <ToolBarContent>
        <MudText Typo="Typo.h6" Color="Color.Dark">Clients</MudText>
        <MudSpacer/>
        <MudTextField @bind-Value="@search" Placeholder="Search"
         Adornment="Adornment.Start"
         AdornmentIcon="@Icons.Material.Filled.Search"></MudTextField>
    </ToolBarContent>
    <HeaderContent>
        <MudTh>Id</MudTh>
        <MudTh>Name</MudTh>
        <MudTh>BirthDay Date</MudTh>
        <MudTh>Details</MudTh>
        <MudTh>Edit</MudTh>
        <MudTh>Delete</MudTh>
    </HeaderContent>
    <RowTemplate>
        <MudTd>@context.idClient</MudTd>
        <MudTd>@context.name</MudTd>
        <MudTd>@context.birthday.ToShortDateString()</MudTd>
        <MudTd>
            <a href="/clientdetails/@context.idClient">
                <MudIconButton Icon="@Icons.Material.Filled.Notes"
                               Color="Color.Info"></MudIconButton>
            </a>
        </MudTd>
        <MudTd>
            <a href="/clientupdate/@context.idClient">
                <MudIconButton Icon="@Icons.Material.Filled.Edit"
                               Color="Color.Info"></MudIconButton>
            </a>
        </MudTd>
        <MudTd>
         <MudIconButton Icon="@Icons.Material.Filled.Delete"
          Color="Color.Dark"
          OnClick="@(()=> delete(context.idClient))"></MudIconButton>
        </MudTd>
    </RowTemplate>
    <PagerContent>
        <MudTablePager PageSizeOptions="new int[] { 10,20,50,100}"/>
    </PagerContent>
</MudTable>

@code {
    private IEnumerable<Client> clients = new List<Client>();
    private string search = "";
    protected async override Task OnInitializedAsync()
    {
        clients = await service.getClients();
    }

    private bool findBy(Client client, string find)
    {
        if (string.IsNullOrWhiteSpace(find))
        {
            return true;
        }
        if (client.name.Contains(find, StringComparison.OrdinalIgnoreCase))
        {
            return true;
        }
        return false;
    }

    private bool filterBy(Client client) => findBy(client, search);

    private async Task delete(string Id)
    {
        var target = clients.First(x => x.idClient == Id);
        string msg = $"Would you like to delete this client?: {target.name}";
        if (await script.deleteSwal("Confirm", msg, JsService.Actions.question))
        {
            await service.delete(Id);
            await OnInitializedAsync();
        }
    }
}
