﻿@page "/details/{id}"
@inject ILoan service
@inject IClient serviceClient
@inject NavigationManager nav

 <MudContainer>
     <MudGrid>
         <MudItem xs="12">
             <MudCard Elevation="8">
                 <MudCardContent>
                     <MudSelect ReadOnly="true" Placeholder="Select a client"
                                @bind-Value="@loan.client"
                                Label="Client Selector" OffsetY="true"
                                AdornmentIcon="@Icons.Material.Filled.PersonAdd"
                                AdornmentColor="Color.Primary">
                         @foreach (var client in clients)
                         {
                             <MudSelectItem Value="@client.idClient">@client.name</MudSelectItem>
                         }

                     </MudSelect>
                 </MudCardContent>
                 <MudCardActions>
                     <MudItem xs="12" Class="mx-auto mt-3">
                         @for (int x = 0; x < loan.Loans.Count; x++)
                         {
                             var pos = x;
                             var loans = loan.Loans[x];
                             <MudItem xs="12">
                                 <MatDatePicker ReadOnly="true" FullWidth="true" @bind-Value="@loans.requested_date"></MatDatePicker>
                                 <MudNumericField ReadOnly="true" FullWidth="true" T="double" @bind-Value="@loans.requested_amount"
                                                  Label="Amount of loan" Format="N2" Culture="usa" />
                             </MudItem>
                             <div class="d-flex justify-center mx-auto">
                                 <MudButton Class="mt-3 mb-3" Variant="Variant.Filled"
                                            Color="Color.Dark" StartIcon="@Icons.Material.Filled.Remove"
                                            IconColor="Color.Inherit"
                                            OnClick="@(() => nav.NavigateTo("/loans"))">Exit</MudButton>
                             </div>
                         }
                     </MudItem>
                 </MudCardActions>
             </MudCard>
         </MudItem>
     </MudGrid>
 </MudContainer>

@code {
    [Parameter]
    public string Id { get; set; }
    private Loan loan = new Loan();
    private IEnumerable<Client> clients = new List<Client>();
    public CultureInfo usa = CultureInfo.GetCultureInfo("en-US");

    protected async override Task OnInitializedAsync()
    {
        clients = await serviceClient.getClients();
        loan = await service.getById(Id);
    }
}
