﻿@page "/loans"
@inject NavigationManager nav
@inject ILoan service
@inject IJSRuntime script

<MudGrid>
    <MudItem xs="12" Class="d-flex align-center justify-center mud-width-full py-8">
        <MudButton StartIcon="@Icons.Custom.Brands.MicrosoftAzureDevOps"
                   Size="Size.Large" Variant="Variant.Filled" Color="Color.Info"
                   OnClick="@(()=> nav.NavigateTo("/loanform"))">Form</MudButton>
    </MudItem>
</MudGrid>
<MudTable Filter="new Func<Loan, bool>(filterBy)"
          Elevation="8" Items="@loans" Hover="true">
    <ToolBarContent>
        <MudText Typo="Typo.h6" Color="Color.Dark">Clients</MudText>
        <MudSpacer />
        <MudTextField @bind-Value="@search" Placeholder="Search"
                      Adornment="Adornment.Start"
                      AdornmentIcon="@Icons.Material.Filled.Search"></MudTextField>
    </ToolBarContent>
    <HeaderContent>
        <MudTh>Id</MudTh>
        <MudTh>Client Id</MudTh>
        <MudTh>Requested day</MudTh>
        <MudTh>Amount of loan</MudTh>
        <MudTh></MudTh>
        <MudTh></MudTh>
    </HeaderContent>
    <RowTemplate>
        <MudTd>@context.Id</MudTd>
        <MudTd>@context.client</MudTd>
        @for (int x = 0; x < context.Loans.Count; x++)
        {
            var loan = context.Loans[x];

            <MudTd>@loan.requested_date.ToShortDateString()</MudTd>
            <MudTd>@loan.requested_amount</MudTd>
        }
        <MudTd>
            <a href="/details/@context.Id">
                <MudIconButton Icon="@Icons.Material.Filled.Notes"
                               Color="Color.Info"></MudIconButton>
            </a>
        </MudTd>
        <MudTd>
            <a href="/update/@context.Id">
                <MudIconButton Icon="@Icons.Material.Filled.Edit"
                               Color="Color.Info"></MudIconButton>
            </a>
        </MudTd>
        <MudTd>
            <MudIconButton Icon="@Icons.Material.Filled.Delete"
                           Color="Color.Dark"
                           OnClick="@(()=> delete(context.Id))"></MudIconButton>
        </MudTd>
    </RowTemplate>
    <PagerContent>
        <MudTablePager PageSizeOptions="new int[] { 10,20,50,100}" />
    </PagerContent>
</MudTable>

@code {
    private IEnumerable<Loan> loans = new List<Loan>();
    private string search = "";

    protected async override Task OnInitializedAsync()
    {
        loans = await service.getAll();
    }

    private bool findBy(Loan loan, string find)
    {
        if (string.IsNullOrWhiteSpace(find))
        {
            return true;
        }
        if (loan.client.Contains(find, StringComparison.OrdinalIgnoreCase))
        {
            return true;
        }
        return false;
    }

    private bool filterBy(Loan loan) => findBy(loan, search);

    private async Task delete(string Id)
    {
        var target = loans.First(x => x.Id == Id);
        string msg = $"Would you like to delete this client?: {target.Id}";
        if (await script.deleteSwal("Confirm", msg, JsService.Actions.question))
        {
            await service.delete(Id);
            await OnInitializedAsync();
        }
    }
}
