﻿@page "/update/{id}"
@inject ILoan serviceLoan
@inject IClient serviceClient
@inject NavigationManager nav

<MudContainer>
    <MudGrid>
        <MudItem xs="12">
            <MudCard Elevation="8">
                <MudCardContent>
                    <MudSelect Placeholder="Select a client"
                               @bind-Value="@loan.client"
                               Label="Client Selector" OffsetY="true"
                               AdornmentIcon="@Icons.Material.Filled.PersonAdd"
                               AdornmentColor="Color.Primary">
                        @foreach (var client in clients)
                        {
                            <MudSelectItem Value="@client.idClient">@client.name</MudSelectItem>
                        }

                    </MudSelect>
                </MudCardContent>
                <MudCardActions>
                    <MudItem xs="12" Class="mx-auto mt-3">
                        <div class="d-flex justify-center mx-auto">
                            <MudButton Class="d-flex align-center mt-3 mb-3" Variant="Variant.Filled"
                                       Color="Color.Info" StartIcon="@Icons.Material.Filled.Add"
                                       IconColor="Color.Inherit"
                                       @onclick="@(() => loan.Loans.Add(new DataLoan()))">Add a Loan</MudButton>
                        </div>

                        @for (int x = 0; x < loan.Loans.Count; x++)
                        {
                            var pos = x;
                            var loans = loan.Loans[x];
                            <MudItem xs="12">
                                <MudText Typo="Typo.h6">Loans @(x + 1)</MudText>
                                <MatDatePicker FullWidth="true" @bind-Value="@loans.requested_date"></MatDatePicker>
                                <MudNumericField FullWidth="true" T="double" @bind-Value="@loans.requested_amount"
                                                 Label="Amount of loan" Format="N2" Culture="usa" />
                            </MudItem>
                            <div class="d-flex justify-center mx-auto">
                                <MudButton Class="mt-3 mb-3" Variant="Variant.Filled"
                                           Color="Color.Dark" StartIcon="@Icons.Material.Filled.Remove"
                                           IconColor="Color.Inherit"
                                           OnClick="@(() => loan.Loans.RemoveAt(pos))">Remove a Loan</MudButton>
                            </div>
                        }
                    </MudItem>
                </MudCardActions>
            </MudCard>
        </MudItem>
        <MudItem xs="12">
            <MudPaper Elevation="8" Class="d-flex align-center justify-center mud-width-full py-8">
                <MudButton Class="mr-5" Variant="Variant.Filled"
                           Color="Color.Info" StartIcon="@Icons.Material.Filled.Save"
                           IconColor="Color.Inherit"
                           OnClick="update">Save</MudButton>
                <MudButton Variant="Variant.Filled"
                           Color="Color.Dark" StartIcon="@Icons.Material.Filled.Cancel"
                           IconColor="Color.Inherit"
                           OnClick="@(() => nav.NavigateTo("/loans"))">Cancel</MudButton>
            </MudPaper>
        </MudItem>
    </MudGrid>
</MudContainer>

@code {
    private IEnumerable<Client> clients = new List<Client>();
    private Loan loan = new Loan();
    CultureInfo usa = CultureInfo.GetCultureInfo("en-US");
    [Parameter]
    public string Id { get; set; }

    protected async override Task OnInitializedAsync()
    {
        clients = await serviceClient.getClients();
        loan = await serviceLoan.getById(Id);
    }

    private async Task update()
    {
        await serviceLoan.update(loan);
        nav.NavigateTo("/loans");
    }
}
